html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13pt;
    background-color: aquamarine;
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 15pt;
}